[*]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true
ij_continuation_indent_size = 0
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_formatter_tags_enabled = true
ij_smart_tabs = true
ij_visual_guides = 70
ij_wrap_on_typing = false

[{*.http,*.rest}]
indent_size = 0
ij_continuation_indent_size = 4
ij_http-request_call_parameters_wrap = normal
ij_http-request_method_parameters_wrap = split_into_lines
ij_http-request_space_before_comma = true
ij_http-request_spaces_around_assignment_operators = true

[{*.kt,*.kts}]
# noinspection EditorConfigKeyCorrectness
ktlint_code_style = intellij_idea
ij_formatter_tags_enabled = true
ij_kotlin_align_multiline_parameters = false
ij_kotlin_name_count_to_use_star_import = 2147483647
ij_kotlin_name_count_to_use_star_import_for_members = 2147483647
ij_kotlin_packages_to_use_import_on_demand = no.telenor.kt.restclient.util.**

[{*.markdown,*.md}]
indent_size = 2
indent_style = space
max_line_length = 70

[{*.yaml,*.yml}]
indent_style = space
indent_size = 2
