*

!/**/

!/.gitignore

!/.github/
!/.github/CODEOWNERS
!/.github/actions/*/action.yaml
!/.github/workflows/*.yaml
!/.github/assets/next.png
!/.github/CODE_OF_CONDUCT.md
!/.github/SECURITY.md

!/gradle/dependencies.yaml
!/gradle/libs.versions.toml

!/LICENSE
!/README.md

!/.editorconfig
!/settings.gradle.kts
!/**/build.gradle.kts
!/**/*.kt
