*

!/.gitignore

!/.github/
!/.github/**/
!/.github/CODEOWNERS
!/.github/assets/next.png
!/.github/CODE_OF_CONDUCT.md
!/.github/SECURITY.md

!/LICENSE
!/README.md

!/.editorconfig
!/settings.gradle.kts
!/build.gradle.kts
